body {
  background: black; /* Base space color */
  overflow-y: auto;
  position: relative;
  min-height: 100vh;

}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent interaction */
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: random-move 10s linear infinite;
}

@keyframes random-move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(calc(-10px + 20vw), calc(-10px + 20vh));
  }
  50% {
    transform: translate(calc(10px - 40vw), calc(20px - 30vh));
  }
  75% {
    transform: translate(calc(-20px + 50vw), calc(-20px + 40vh));
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Navigation Bar */
nav {
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

nav span {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

nav span:hover {
  color: #f9f871;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.8);
}

/* Add other styles as needed for buttons, cards, etc. */
